################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex
